<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/GAMZE/IdeaProjects/seleniumproject18">
     <classes>
         <class name="test.day5_testing_intro.Grouping" />
     </classes>

    </test>



<test name="testngTest">

<groups>
    <define name="all">
        <include name="smokeTest"/>
        <include name="functionalTest"/>
    </define>
    <run>
        <include name="all" />
    </run>
</groups>
<classes>
    <class name="test.day5_testing_intro.Grouping" />
    <class name="test.day5_testing_intro.FirstTestNGClass" />
</classes>
</test>

</suite>

